@font-face {
  font-family: "Sequel-45";
  src: URL("Sequel100Black-45.ttf") format("truetype");
}
@font-face {
  font-family: "Sequel-46";
  src: URL("Sequel100Black-46.ttf") format("truetype");
}
@font-face {
  font-family: "Sequel-55";
  src: URL("Sequel100Black-55.ttf") format("truetype");
}
@font-face {
  font-family: "Sequel-56";
  src: URL("Sequel100Black-56.ttf") format("truetype");
}
@font-face {
  font-family: "Sequel-65";
  src: URL("Sequel100Black-65.ttf") format("truetype");
}
@font-face {
  font-family: "Sequel-66";
  src: URL("Sequel100Black-66.ttf") format("truetype");
}
@font-face {
  font-family: "Sequel-75";
  src: URL("Sequel100Black-75.ttf") format("truetype");
}
@font-face {
  font-family: "Sequel-76";
  src: URL("Sequel100Black-76.ttf") format("truetype");
}
@font-face {
  font-family: "Sequel-85";
  src: URL("Sequel100Black-85.ttf") format("truetype");
}
@font-face {
  font-family: "Sequel-86";
  src: URL("Sequel100Black-86.ttf") format("truetype");
}
@font-face {
  font-family: "Sequel-95";
  src: URL("Sequel100Black-95.ttf") format("truetype");
}
@font-face {
  font-family: "Sequel-96";
  src: URL("Sequel100Black-96.ttf") format("truetype");
}
@font-face {
  font-family: "Sequel-105";
  src: URL("Sequel100Black-105.ttf") format("truetype");
}
@font-face {
  font-family: "Sequel-106";
  src: URL("Sequel100Black-106.ttf") format("truetype");
}
@font-face {
  font-family: "Sequel-115";
  src: URL("Sequel100Black-115.ttf") format("truetype");
}
@font-face {
  font-family: "Sequel-116";
  src: URL("Sequel100Black-116.ttf") format("truetype");
}
